.add-to-cart {
  position: fixed;
  z-index: 30;
  left: 50%;
  top: 50%;

  display: none;

  @include mobile;
  padding-bottom: 46px;

  color: #000000;
  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  transform: translate(-50%, -50%);
}

.add-to-cart__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 35px;

  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.add-to-cart__description {
  margin: 0;
  margin-bottom: 28px;

  text-align: center;
  color: $gray--dark;
}

.add-to-cart__list {
  display: flex;
  justify-content: space-between;

  @include marpad;
  margin-bottom: 31px;

  list-style: none;
}

.add-to-cart__item {
  position: relative;

  display: flex;
  width: 82px;
  height: 52px;
  margin-right: 7px;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;

  &:last-child {
    margin-right: 0;
  }
}

.add-to-cart__input:checked + .add-to-cart__label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 78px;
  height: 48px;

  border: 2px solid $green;
}

.add-to-cart__label {
  margin: auto auto;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 78px;
    height: 48px;

    border: 2px solid $border;
  }

  &:hover::before {
    border-color: $input--gray;
  }
}

.add-to-cart__add {
  display: block;
  width: 260px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: $green;
  border: none;
}

.add-to-cart--show {
  display: block;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .add-to-cart {
    width: 354px;
    padding-right: 106px;
    padding-left: 108px;
  }

  .add-to-cart__title {
    margin-bottom: 20px;
    padding-top: 37px;

    font-size: 30px;
    line-height: 57px;
  }

  .add-to-cart__description {
    margin-bottom: 25px;

    font-size: 17px;
  }

  .add-to-cart__item {
    width: 112px;
  }

  .add-to-cart__input:checked + .add-to-cart__label::after {
    width: 108px;
  }

  .add-to-cart__label {
    &::before {
      width: 108px;
    }
  }

  .add-to-cart__add {
    width: 350px;
  }
}
