.advantages {
  @include mobile;
}

.advantages__title {
  margin: 0;
  margin-bottom: 4px;
  padding-top: 30px;

  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  @include marpad;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  list-style: none;

  &:last-child {
    margin-bottom: 56px;
  }
}

.advantages__item {
  width: 250px;
  padding-top: 83px;
}

.advantages__br--tablet {
  display: none;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    max-width: 1050px;

    @include indent-tablet;
    margin-bottom: 83px;
  }

  .advantages__title {
    margin-bottom: 0;
    padding-top: 48px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    line-height: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__item {
    width: 300px;
    padding-top: 112px;
    padding-right: 10%;

    &:first-child {
      padding-top: 103px;
    }
  }

  .advantages__item-wrapper {
    width: 50%;
  }

  .advantages__br--mobile {
    display: none;
  }

  .advantages__br--tablet {
    display: block;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .advantages {
    @include indent-desktop;
    margin-bottom: 89px;
  }

  .advantages__title {
    margin-left: 175px;
    padding-top: 57px;

    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    margin-left: 175px;
  }

  .advantages__item-wrapper {
    width: 40%;
  }
}
