.cart-list {
  @include marpad;

  list-style: none;
}

.cart-list__item {
  padding: 22px 0;
  padding-left: 75px;

  text-align: center;

  border-bottom: 1px solid #ececec;
}

.cart-list__item-link {
  display: block;

  text-align: left;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .cart-list {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }

  .cart-list__item {
    min-height: 88px;
    padding: 0;

    border-left: 1px solid #ececec;
    border-bottom: none;
  }

  .cart-list__item--search {
    width: 84px;
  }

  .cart-list__item--cart {
    padding-left: 82px;
  }

  .cart-list__item-link {
    margin-top: 32px;
  }

  .cart-list__item-link--search {
    font-size: 0;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .cart-list {
    order: 3;
    align-self: flex-start;
    margin-left: auto;
    padding-right: 50px;

    border-bottom: 1px solid #ececec;
  }

  .cart-list__item--cart {
    height: 88px;
  }
}
