.catalog {
  @include mobile;
  margin-bottom: 31px;
}

.catalog__list {
  @include marpad;

  list-style: none;
}

.catalog__item {
  margin-bottom: 31px;

  border: 1px solid #ececec;

  &:last-child {
    margin-bottom: 0;
  }
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .catalog {
    @include tablet;
    margin-bottom: 54px;
  }

  .catalog__item {
    margin-bottom: 53px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .catalog {
    @include desktop;
    margin-bottom: 57px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 315px;
    margin: 0;
  }
}
