.catalog-main__title {
  margin: 0;
  padding: 74px 0;
  margin-bottom: 30px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  background-color: $gray;
  text-align: center;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .catalog-main {
    margin-top: -68px;
  }

  .catalog-main__title {
    margin-bottom: 84px;
    padding-top: 110px;
    padding-bottom: 84px;

    font-size: 43px;
    line-height: 50px;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .catalog-main {
    margin-top: -88px;
  }

  .catalog-main__title {
    margin-bottom: 132px;
    padding-bottom: 106px;

    font-size: 53px;
    line-height: 57px;
  }
}
