.copyright {
  display: flex;

  min-height: 80px;
}

.copyright__text {
  margin: auto 0;
  margin-left: auto;
  margin-right: 30px;

  font-size: 19px;
  line-height: 19px;
}

.copyright__link {
  display: flex;
  margin: auto 0;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.3%;
  }
}
