.copyright {
  display: flex;
  justify-content: center;

  min-height: 80px;
}

.copyright__link {
  display: flex;
  margin: auto 0;

  font-size: 19px;
  line-height: 19px;
  color: #000000;

  &:hover svg {
    fill: $green--hover;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.copyright__link svg {
  fill: $green;
}

.copyright__text {
  align-self: center;
  padding-right: 30px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.3%;
  }

  .copyright__text {
    padding-right: 20px;
  }

  .copyright__link {
    margin-left: auto;
  }
}
