.copyright {
  display: flex;
  justify-content: center;

  min-height: 80px;
}

.copyright__link {
  display: flex;
  align-items: center;

  font-size: 19px;
  line-height: 19px;
  color: #000000;

  &:hover svg {
    fill: $green--hover;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.copyright__link svg {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 8px;

  fill: $green;
}

.copyright__text {
  align-self: center;
  padding-right: 14px;
  padding-bottom: 10px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
    width: 33.3%;
    min-height: 143px;
  }

  .copyright__link svg {
    padding-bottom: 0;

    fill: $green;
  }

  .copyright__text {
    padding-right: 8px;
    padding-bottom: 0;
  }
}
