.form {
  @include mobile;
}

.form__field {
  @include marpad;
  margin-bottom: 41px;

  border: none;
}

.form__description {
  @include marpad;
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
  color: $gray--dark;
}

.form__field--type {
  margin-bottom: 42px;
}

.form__field--name {
  margin-bottom: 33px;
}

.form__field--phone {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.form__field--info {
  margin-bottom: 3px;
}

.form__field--email {
  margin-bottom: 30px;
}

.form__field-title {
  position: relative;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 8.5px;
    left: 62px;

    width: 198px;
    height: 1px;

    background-color: $green;
  }
}

.form__field-title--email {
  &::after {
    left: 80px;

    width: 180px;
  }
}

.form__list {
  @include marpad;

  list-style: none;
}

.form__option {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__option--radio {
  margin-bottom: 25px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__option--checkbox {
  margin-bottom: 43px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__option--text {
  display: flex;
  flex-direction: column;

  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;

  cursor: pointer;
}

.form__input {
  font: inherit;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $gray--dark;
}

.form__input--radio + .form__label::before {
  content: "";
  position: absolute;
  left: -65px;
  top: -10px;

  width: 38px;
  height: 38px;

  border: 2px solid $gray--dark;
  border-radius: 50%;
}

.form__input--radio:hover + .form__label::before {
  border-color: $green;
}

.form__input--radio:active + .form__label::before,
.form__input--radio:focus + .form__label::before {
  border-color: $input--gray;
}

.form__input--radio:checked + .form__label::after {
  content: "";

  position: absolute;
  left: -52px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-color: $green;
  border-radius: 50%;
}

.form__input--checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -65px;
  bottom: -10px;

  width: 38px;
  height: 38px;

  border: 2px solid $gray--dark;
}

.form__input--checkbox:hover + .form__label::before {
  border-color: $green;
}

.form__input--checkbox:active + .form__label::before,
.form__input--checkbox:focus + .form__label::before {
  border-color: $input--gray;
}

.form__input--checkbox:checked + .form__label::after {
  content: "";

  position: absolute;
  left: -55px;

  width: 20px;
  height: 10px;

  border: 2px solid #000000;
  border-right: none;
  border-top: none;

  transform: rotate(-45deg);
}

.form__input--text {
  padding: 16px 0;
  padding-bottom: 14px;

  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:active,
  &:focus {
    border-color: $green;
  }

  &::placeholder {
    color: $placeholder;
  }
}

.form__input--tel,
.form__input--email {
  width: 100%;
  padding: 16px 0;
  padding-bottom: 14px;

  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:active,
  &:focus {
    border-color: $green;
  }

  &::placeholder {
    color: $placeholder;
  }
}

.form__input--tel {
  margin-bottom: 34px;
}

.form__input--textarea {
  width: 224px;
  min-height: 98px;
  padding: 25px 16px;
  padding-top: 15px;

  border: 2px solid $gray--dark;

  &:hover,
  &:active,
  &:focus {
    border-color: $green;
  }

  &::placeholder {
    color: $placeholder;
  }
}

.form__required {
  display: block;
  margin-bottom: 32px;
  margin-top: 7px;

  font-size: 14px;
  line-height: 16px;
  color: $gray--dark;
  white-space: nowrap;
}

.form__button {
  width: 260px;
  margin-bottom: 55px;

  font-size: 17px;
  line-height: 17px;
}

@media (max-width: $tablet-width - 1px) {
  .form__field-title {
    margin-bottom: 35px;
  }

  .form__field-title--name {
    margin-bottom: 30px;
  }

  .form__field-title--phone {
    margin-bottom: 6px;
  }

  .form__field-title--email {
    margin-bottom: 8px;
  }

  .form__field-title--info {
    margin-bottom: 26px;
  }
}

.form__icon {
  position: absolute;
  right: 7px;
  top: 32px;

  fill: rgba(0, 0, 0, 0.2);
}

.form__icon--mail {
  right: 4px;
}

.form__input:hover + svg,
.form__input:focus + svg,
.form__input:active + svg {
  fill: $green;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    padding: 0;
    padding-top: 74px;
  }

  .form__order-form {
    width: 100%;
  }

  .form__description {
    @include indent-tablet;
    margin-bottom: 73px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__field {
    position: relative;

    @include indent-tablet;
  }

  .form__field--type {
    margin-bottom: 65px;
  }

  .form__field--color {
    margin-bottom: 0;
    padding-top: 66px;

    background-color: $gray;
  }

  .form__field--name {
    margin-bottom: 48px;
    padding-top: 68px;
  }

  .form__field--phone {
    padding-top: 68px;

    background-color: $gray;
  }

  .form__field--email {
    margin-bottom: 50px;
    padding-bottom: 48px;

    background-color: $gray;
  }

  .form__field--info {
    margin-bottom: 50px;
  }

  .form__field-title {
    position: absolute;
    left: 50px;
    top: 70px;

    &::after {
      display: none;
    }
  }

  .form__field-title--type {
    top: 0;
  }

  .form__field-title--phone {
    margin-bottom: 0;
  }

  .form__field-title--info {
    top: 18px;
  }

  .form__field-title--email {
    top: 0;
  }

  .form__list {
    margin-left: 160px;
  }

  .form__list--color {
    display: flex;
    flex-wrap: wrap;
    width: 503px;
  }

  .form__option {
    width: auto;
  }

  .form__option--radio {
    margin-bottom: 57px;
    padding-left: 84px;
  }

  .form__option--checkbox {
    width: 170px;
    margin-bottom: 57px;
    padding-left: 77px;

    &:nth-child(2n) {
      padding-left: 86px;
    }

    &:last-child {
      margin-bottom: 63px;
    }
  }

  .form__option--text {
    display: flex;
    flex-direction: row;
    margin-bottom: 41px;
  }

  .form__label {
    padding-left: 10px;

    font-size: 19px;
    line-height: 19px;
  }

  .form__label--type {
    padding-left: 0;
  }

  .form__label--text {
    padding-right: 25px;
  }

  .form__input--radio + .form__label::before {
    left: -75px;
    top: -10px;

    width: 48px;
    height: 48px;
  }

  .form__input--radio:checked + .form__label::after {
    left: -59px;
    top: 6px;

    width: 21px;
    height: 21px;

    background-color: $green;
  }

  .form__input--checkbox + .form__label::before {
    left: -70px;
    bottom: -15px;

    width: 50px;
    height: 50px;
  }

  .form__input--checkbox:checked + .form__label::after {
    left: -55px;

    width: 25px;
    height: 15px;
  }

  .form__input--text {
    flex-grow: 1;
    padding-left: 18px;
    padding-top: 0;
    padding-bottom: 16px;
  }

  .form__input--tel {
    width: 484px;
    margin-left: 165px;
    margin-bottom: 40px;
    padding-left: 18px;
    padding-top: 0;

    background-color: $gray;
  }

  .form__input--email {
    width: 484px;
    margin-left: 165px;
    padding-left: 18px;
    padding-top: 0;

    background-color: $gray;
  }

  .form__input--textarea {
    width: 464px;
    margin-left: 165px;
    margin-bottom: 47px;
  }

  .form__button-wrapper {
    display: flex;
  }

  .form__required {
    order: 1;
    margin: auto 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 228px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .form__icon {
    top: 62px;
    right: 77px;
  }

  .form__icon--mail {
    top: 0;
    right: 72px;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .form {
    width: auto;

    padding-top: 123px;
  }

  .form__wrapper-bg {
    background-color: $gray;
  }

  .form__description-wrapper {
    width: 1150px;
    margin: 0 auto;
  }

  .form__description {
    width: 685px;
    margin-bottom: 73px;
    padding: 0;
    padding-left: 222px;
  }

  .form__field {
    padding-right: 0;
    padding-left: 110px;
  }

  .form__field--type {
    margin-bottom: 66px;
  }

  .form__field--type,
  .form__field--color,
  .form__field--name,
  .form__field--phone,
  .form__field--email,
  .form__field--info {
    width: $desktop-width - 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__field-wrapper--info {
    margin-bottom: 51px;
  }

  .form__field-title {
    left: 110px;
    top: 66px;

    width: 110px;
  }

  .form__field-title--type {
    top: 0;
  }

  .form__field-title--email {
    top: 0;
  }

  .form__field-title--info {
    top: 20px;
  }

  .form__list {
    margin-left: 105px;
  }

  .form__list--color {
    width: 780px;
  }

  .form__list--name {
    width: 704px;
  }

  .form__option--checkbox {
    width: 160px;
    margin-bottom: 57px;
    padding-right: 20px;
    padding-left: 82px;

    &:nth-child(2n) {
      padding-left: 82px;
    }

    &:last-child {
      margin-bottom: 67px;
    }

    &:nth-child(3n) {
      padding-right: 0;
    }
  }

  .form__option--text {
    margin-bottom: 40px;
  }

  .form__input--tel {
    width: 682px;
    margin-bottom: 35px;
    margin-left: 113px;
    padding-bottom: 15px;
  }

  .form__input--email {
    width: 682px;
    margin-left: 113px;
  }

  .form__input--textarea {
    width: 665px;
    margin-left: 113px;
  }

  .form__button-wrapper {
    width: 704px;
    padding-left: 110px;
  }

  .form__icon {
    top: 60px;
    right: 237px;
  }

  .form__icon--mail {
    top: 0;
    right: 233px;
  }
}
