.form {
  @include mobile;
}

.form__description {
  @include marpad;

  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  color: $gray--dark;
}

.form__field {
  position: relative;

  @include marpad;
  margin-bottom: 50px;

  border: none;
}

.form__field--type {
  margin-bottom: 50px;
}

.form__field--name {
  margin-bottom: 50px;
}

.form__field--phone {
  display: flex;
  flex-direction: column;

  margin-bottom: 34px;
}

.form__field--info {
  margin-bottom: 18px;
}

.form__field-title {
  margin-bottom: 43px;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $green;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 8.5px;
    left: 62px;

    width: 198px;
    height: 1px;

    background-color: $green;
  }
}

.form__field-title--name {
  margin-bottom: 34px;
}

.form__field-title--phone {
  margin-bottom: 10px;
}

.form__field-title--email {
  margin-bottom: 10px;

  &::after {
    top: 129.5px;
    left: 80px;

    width: 180px;
  }
}

.form__field-title--info {
  margin-bottom: 28px;
}

.form__list {
  @include marpad;

  list-style: none;
}

.form__option--checkbox {
  padding-left: 62px;
}

.form__option--radio {
  margin-bottom: 32px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__option--checkbox {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__option--text {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  cursor: pointer;
}

.form__input {
  font: inherit;

  font-size: 17px;
  line-height: 18px;
}

.form__input--radio + .form__label::before {
  content: "";
  position: absolute;
  left: -65px;
  top: -10px;

  width: 38px;
  height: 38px;

  border: 2px solid $gray--dark;
  border-radius: 50%;
}

.form__input--radio:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -52px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-color: $green;
  border-radius: 50%;
}

.form__input--checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -65px;
  bottom: -10px;

  width: 38px;
  height: 38px;

  border: 2px solid $gray--dark;
}

.form__input--text {
  padding: 20px 0;

  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: $placeholder;
  }
}

.form__input--tel,
.form__input--email {
  width: 100%;
  padding: 20px 0;

  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: $placeholder;
  }
}

.form__input--tel {
  margin-bottom: 34px;
}

.form__input--textarea {
  width: 224px;
  min-height: 98px;
  padding: 20px 16px;

  border: 2px solid $gray--dark;

  &::placeholder {
    color: $placeholder;
  }
}

.form__required {
  display: block;
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $gray--dark;
  white-space: nowrap;
}

.form__button {
  width: 260px;
  margin-bottom: 55px;

  font-size: 17px;
  line-height: 17px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    padding: 0;
  }

  .form__order-form {
    width: 100%;
  }

  .form__description {
    @include indent-tablet;
    margin-bottom: 76px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__field {
    @include indent-tablet;
  }

  .form__field--type {
    margin-bottom: 72px;
  }

  .form__field--color {
    margin-bottom: 0;
    padding-top: 70px;

    background-color: $gray;
  }

  .form__field--name {
    margin-bottom: 52px;
    padding-top: 68px;
  }

  .form__field--phone {
    margin-bottom: 50px;
    padding-top: 68px;
    padding-bottom: 50px;

    background-color: $gray;
  }

  .form__field--info {
    margin-bottom: 53px;
  }

  .form__field-wrapper {
    display: flex;
  }

  .form__field-title {
    width: 165px;

    &:after {
      display: none;
    }
  }

  .form__field-title--phone {
    margin-bottom: 0;
  }

  .form__field-title--info {
    padding-top: 20px;
  }

  .form__list--color {
    display: flex;
    flex-wrap: wrap;
    width: 503px;
  }

  .form__list--name {
    flex-grow: 1;
  }

  .form__option--checkbox {
    width: 160px;
    margin-bottom: 64px;
    padding-left: 80px;
    padding-right: 10px;
  }

  .form__option--radio {
    margin-bottom: 64px;
    padding-left: 80px;
  }

  .form__option--text {
    display: flex;
    flex-direction: row;
  }

  .form__label {
    font-size: 19px;
    line-height: 19px;
  }

  .form__label--text {
    padding-right: 20px;
  }

  .form__input--radio + .form__label::before {
    left: -75px;
    top: -10px;

    width: 48px;
    height: 48px;
  }

  .form__input--radio:checked + .form__label::after {
    left: -59px;
    top: 6px;

    width: 21px;
    height: 21px;
  }

  .form__input--checkbox + .form__label::before {
    left: -77px;
    bottom: -15px;

    width: 50px;
    height: 50px;
  }

  .form__input--text {
    flex-grow: 1;
    padding-left: 18px;
    padding-top: 0;
  }

  .form__input--tel {
    flex-grow: 1;
    width: auto;
    margin-bottom: 40px;
    padding-left: 18px;
    padding-top: 0;

    background-color: $gray;
  }

  .form__input--email {
    flex-grow: 1;
    width: auto;
    padding-left: 18px;
    padding-top: 0;

    background-color: $gray;
  }

  .form__input--textarea {
    flex-grow: 1;
    width: auto;
  }

  .form__button-wrapper {
    display: flex;

    @include indent-tablet;
    margin-bottom: 50px;
  }

  .form__required {
    order: 1;
    margin: auto 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 226px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
  }

  .form__description {
    padding: 0 226px;
    margin-bottom: 79px;
  }

  .form__field {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__field--info {
    margin-bottom: 48px;
  }

  .form__field-title {
    width: 110px;
  }

  .form__list--color {
    width: 780px;
  }

  .form__list--name {
    flex-grow: 0;
    width: 704px;
  }

  .form__option--checkbox {
    margin-bottom: 50px;
    padding-right: 20px;
  }

  .form__option--text {
    margin-bottom: 23px;
  }

  .form__input--tel {
    flex-grow: 0;
    width: 686px;
    margin-bottom: 32px;
  }

  .form__input--email {
    flex-grow: 0;
    width: 686px;
  }

  .form__input--textarea {
    flex-grow: 0;
    width: 668px;
  }

  .form__button-wrapper {
    width: 704px;
    padding: 0;
    padding-left: 220px;
  }
}
