.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -42px;
  right: 30px;

  width: 20px;
  height: 2px;
  padding: 0;

  background-color: #000000;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;
  }

  &::after {
    top: 5px;
  }
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .main-nav {
    order: 3;
  }

  .main-nav__toggle {
    display: none;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .main-nav {
    order: 1;
  }
}
