.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 30px;

  width: 20px;
  height: 18px;
  padding: 0;

  background-color: #ffffff;
  border: none;
}

.page-header--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 2px;

  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  background-color: #000000;
}

.page-header--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header--nojs .main-nav__toggle {
  display: none;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .main-nav {
    order: 3;
    z-index: 10;
  }

  .main-nav__toggle {
    display: none;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .main-nav {
    order: 1;
  }
}
