.making {
  @include mobile;
  margin-bottom: 58px;
}

.making__wrapper {
  position: relative;

  border: 1px solid $border;
}

.making__video {
  position: relative;
  z-index: -10;

  @include marpad;
  margin-bottom: 30px;
  padding-top: 96px;
}

.making__video img {
  display: block;
}

.making__play {
  position: absolute;
  top: 132px;
  left: 80px;

  width: 101px;
  height: 77px;
  padding: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 20%;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
  &:focus,
  &:active {
    transform: scale(0.8);
  }
  &:focus svg,
  &:active svg {
    opacity: 0.3;
  }
}

.making__title {
  margin: 0;
  margin-top: -276px;
  margin-bottom: 176px;
  padding: 24px 0;
  padding-left: 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 32px 30px;
}

.making__description {
  @include marpad;
  padding: 0 34px;
  padding-bottom: 26px;

  font-size: 13px;
  line-height: 24px;
  color: $gray--dark;
}

.making__order {
  display: block;
  width: 190px;
  margin: 0 auto;
  margin-bottom: 33px;

  font-size: 17px;
  line-height: 17px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .making {
    @include tablet;
    margin-bottom: 63px;
  }

  .making__wrapper {
    display: flex;
    flex-direction: column;

    border: none;
  }

  .making__video {
    margin-bottom: 0;
    padding-top: 0;
  }

  .making__video img {
    width: 100%;
    height: 455px;
  }

  .making__play {
    top: 190px;
    left: 285px;
  }

  .making__description-wrapper {
    border: 1px solid $border;
  }

  .making__title {
    margin: 0;
    padding-top: 39px;
    padding-bottom: 32px;
    padding-left: 105px;
    padding-right: 50px;

    font-size: 20px;

    background-position: 41px 34px;
  }

  .making__description {
    padding-left: 40px;
    padding-right: 44px;
    padding-bottom: 37px;

    font-size: 15px;
    line-height: 30px;
  }

  .making__order {
    width: 584px;
    margin-bottom: 46px;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .making {
    @include desktop;
    margin-bottom: 105px;
  }

  .making__wrapper {
    flex-direction: row;

    border: 1px solid $border;
  }

  .making__video {
    width: 682px;
    margin-bottom: 0;
  }

  .making__play {
    left: 297px;
  }

  .making__description-wrapper {
    width: 286px;
    padding-left: 80px;

    border: none;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus,
    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .making__title {
    width: 200px;
    padding: 0;
    padding-bottom: 32px;
    padding-top: 97px;

    background-position: 4px 43px;
  }

  .making__description {
    padding: 0;
    padding-bottom: 47px;
  }

  .making__order {
    width: 230px;
    margin: 0;
  }
}
