.page-footer {
  background-color: $gray;
}

.page-footer__logo {
  display: none;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    min-height: 143px;
    margin: 0 auto;

    @include indent-tablet;
  }

  .page-footer__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;
    min-height: 143px;
  }

  .page-footer__logo-link {
    display: flex;
    margin-bottom: 12px;

    & svg {
      width: 102px;
      height: 34px;
    }

    &:hover svg {
      fill: $green--hover;
    }

    &:active,
    &:focus {
      opacity: 0.3;
    }
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include indent-desktop;
  }
}
