.reviews {
  @include mobile;
  padding-bottom: 50px;

  background-image: url("../img/zigzag-line-gray-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__item {
  width: 260px;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  @include marpad;
  margin-bottom: 25px;

  color: $gray--dark;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.reviews__link {
  font-size: 17px;
  line-height: 30px;
  color: $gray--dark;
}

.reviews__controls {
  display: flex;
  margin-bottom: 40px;
}

.reviews__prev,
.reviews__next {
  width: 50%;
  min-height: 50px;

  border: 1px solid $border;
}

.reviews__add {
  display: block;

  font-size: 18px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .reviews {
    @include tablet;
    padding-top: 77px;
    padding-bottom: 131px;

    background-image: url("../img/zigzag-line-gray-tablet.png"), url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto, 350px 457px;
    background-position: bottom, 0 0;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: column;
  }

  .reviews__title {
    order: -2;
    max-width: 400px;
    margin-bottom: 41px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0;
  }

  .reviews__text {
    margin-bottom: 57px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    margin-bottom: 5px;

    font-size: 18px;
  }

  .reviews__controls {
    margin: 0;
    margin-left: auto;
    margin-top: -55px;
  }

  .reviews__prev,
  .reviews__next {
    width: 88px;
  }

  .reviews__add {
    order: -1;
    width: 95px;
    margin-left: auto;
    margin-top: -93px;
    margin-bottom: 50px;

    padding: 15px 39px;

    font-size: 17px;
  }
}

/*Для десктопов*/
@media (min-width: $desktop-width) {
  .reviews {
    @include desktop;
    margin-bottom: 70px;
    padding-top: 74px;
    padding-bottom: 190px;

    background-image: url("../img/zigzag-line-gray-desktop.png"), url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto, 350px 457px;
    background-position: bottom, 50px 0;
  }

  .reviews__title {
    margin-left: 175px;
    margin-bottom: 37px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    width: 770px;
    margin-left: 175px;
  }

  .reviews__text {
    margin-bottom: 38px;
  }

  .reviews__author {
    font-size: 17px;
  }

  .reviews__add {
    margin-top: -90px;
  }
}
