.types {
  max-width: 1050px;
  margin-bottom: 30px;
}

.types__list {
  @include marpad;

  list-style: none;
}

.types__link {
  position: relative;

  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 29px;

  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: $green;

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active .types__svg,
  &:focus .types__svg {
    fill: rgba(0, 153, 153, 0.3);
  }
}

.types__link--toys {
  background-color: $green--darken;
}

.types__svg {
  position: absolute;
  top: 24px;
  right: 37px;
  fill: rgba(0, 153, 153, 0.5);
}

.types__svg--toy {
  top: 23px;
  right: 27px;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .types {
    position: relative;

    @include indent-tablet;
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 20px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .types__list {
    display: flex;
  }

  .types__item {
    width: 50%;
  }

  .types__link {
    padding-bottom: 37px;
    padding-top: 31px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .types__svg {
    top: 32px;
    right: 35px;
  }

  .types__svg--toy {
    top: 34px;
    right: 32px;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .types {
    @include indent-desktop;
    margin: 0 auto;

    &::after {
      height: 20px;
    }
  }

  .types__link {
    padding: 29px;
    padding-left: 37px;

    font-size: 20px;
    line-height: 30px;
  }
}
