.weekly {
  position: relative;

  @include mobile;
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.weekly__title-item {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.weekly__week-item {
  margin: 0;
  margin-bottom: 21px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $green;
}

.weekly__description {
  @include marpad;
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;
  color: $gray--dark;
}

.weekly__stats {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 20px;
  color: $gray--dark;

  border-collapse: collapse;
}

.weekly__stats tr {
  height: 40px;

  border-bottom: 1px solid $border;
}

.weekly__field {
  width: 80px;
  padding: 0;
  padding-right: 18px;
}

.weekly__value {
  padding: 0;
}

.weekly__image {
  @include marpad;
  margin-bottom: 25px;
  /*Временно*/
  background-color: $gray;
}

.weekly__price {
  display: block;
  margin-bottom: 25px;

  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $gray--dark;
}

.weekly__order {
  display: block;
}

/*Для планшетов*/

@media (min-width: $tablet-width) {
  .weekly {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;

    @include tablet;
    padding-bottom: 70px;

    &::after {
      height: 17px;
    }
  }

  .weekly__title-wrapper {
    display: flex;
    margin-bottom: 45px;
  }

  .weekly__title-item {
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }

  .weekly__week-item {
    width: 120px;
    margin: auto 0;
    margin-left: auto;

    text-align: center;
    line-height: 17px;
  }

  .weekly__info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 668px;
  }

  .weekly__description-wrapper {
    width: 295px;
    margin-bottom: 20px;
  }

  .weekly__description {
    margin-bottom: 33px;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly__stats {
    margin: 0;
    margin-bottom: 20px;

    line-height: 30px;
  }

  .weekly__image {
    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .weekly__price-wrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: -101px;
  }

  .weekly__price {
    margin: 0;
    margin-bottom: 32px;
    margin-left: 18px;

    font-size: 20px;
    line-height: 24px;
  }

  .weekly__order {
    width: 290px;
    margin: 0;
  }
}

/*Для десктопов*/

@media (min-width: $desktop-width) {
  .weekly {
    @include desktop;
    padding-top: 85px;
    padding-bottom: 95px;

    &::after {
      width: 1050px;
      height: 22px;

      left: 50px;
    }
  }

  .weekly__title-wrapper {
    flex-direction: row-reverse;
  }

  .weekly__title-item {
    position: relative;
    z-index: 10;

    width: 550px;
    margin-right: auto;

    font-size: 53px;
    line-height: 57px;
  }

  .weekly__week-item {
    width: 85px;
    margin: auto 0;
    padding-left: 45px;
    padding-right: 45px;
  }

  .weekly__image {
    width: 525px;
    height: 636px;
    margin-top: -160px;
  }

  .weekly__info-wrapper {
    margin-left: 175px;
  }

  .weekly__description {
    margin-bottom: 45px;
  }

  .weekly__price-wrapper {
    margin-top: -111px;
  }

  .weekly__price {
    margin-left: 20px;
  }
}
