$default-font: "Open Sans", "Arial", sans-serif;
$green: #63d1bb;
$green--darken: #56c3b2;
$green--hover: #46c1ae;
$gray: #f1f1f1;
$border: #ececec;
$border-social: #e5e5e5;
$input--gray: #c7c7c7;
$svg-gray: #d3d2d2;
$svg-footer: #231f20;
$gray--dark: #444444;
$placeholder: rgba(68, 68, 68, 0.3);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
