$default-font: "Open Sans", "Arial", sans-serif;
$green: #63d1bb;
$green--darken: #56c3b2;
$gray: #f1f1f1;
$border: #ececec;
$border-social: #e5e5e5;
$gray--dark: #444444;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$placeholder: rgba(68, 68, 68, 0.3);
